[global_tags]
{% if telegraf_tags is defined and telegraf_tags != None %}
{% for key, value in telegraf_tags.items()|list %}
   {{ key }} = "{{ value }}"
{% endfor %}
{% endif %}

[agent]
  interval = "{{ telegraf_agent_interval }}"
   round_interval = {{ telegraf_round_interval }}
  metric_batch_size = {{ telegraf_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_metric_buffer_limit }}
  collection_jitter = "{{ telegraf_collection_jitter }}"
  flush_interval = "{{ telegraf_flush_interval }}"
  flush_jitter = "{{ telegraf_flush_jitter }}"
  precision = ""
  debug = {{ telegraf_debug }}
  quiet = {{ telegraf_quiet }}
  logfile = "{{ telegraf_logfile }}"
  hostname = "{{ telegraf_hostname }}"
  omit_hostname = {{ telegraf_omit_hostname }}

{% for plugin in telegraf_output_plugins %}
[[outputs.{{ plugin.name }}]]
{% if plugin.options is defined %}
{% for key, value in plugin.options.items()|list %}
  {{ key }} = {{ value|to_json }}
{% endfor %}
{% endif %}

{% endfor %}


{% for plugin in telegraf_input_plugins %}
[[inputs.{{ plugin.name }}]]
{% if plugin.options is defined %}
{% for key, value in plugin.options.items()|list %}
  {{ key }} = {{ value|to_json }}
{% endfor %}
{% endif %}
{% if plugin.tags is defined %}
  [inputs.{{ plugin.name }}.tags]
{% for key, value in plugin.tags.items()|list %}
    {{ key }} = {{ value|to_json }}
{% endfor %}
{% endif %}
{% if plugin.tagpass is defined %}
  [inputs.{{ plugin.name }}.tagpass]
{% for key, value in plugin.tagpass.items()|list %}
    {{ key }} = {{ value|to_json }}
{% endfor %}
{% endif %}
{% if plugin.tagdrop is defined %}
  [inputs.{{ plugin.name }}.tagdrop]
{% for key, value in plugin.tagdrop.items()|list %}
    {{ key }} = {{ value|to_json }}
{% endfor %}
{% endif %}

{% endfor %}
